.book{
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#comment-item{
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.edit{
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 2px;
}
form{
    display: grid;
    width: 50%;
    margin-bottom: 10px;
}
